div{
    color: blueviolet;
    background-color: rgb(129, 51, 51);
}
p{
    color: rgb(203, 218, 38);
    background-color: rgb(134, 18, 82);
}
h4{
    background-color: rgb(199, 9, 9);
    color: cornsilk;
}
span#red{
    color: darkred;
    background-color: white;
}
span#green{
    background-color: #fff;
    color: green;
}
p#new{
    background-color: rgb(124, 78, 170);
}